@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
}

  .menuToggle, .menuToggle2 {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    right: 2.7rem;
    top: 2.2rem;
  }
    .menuToggle2 {
      display: none;
    }

.showcase {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
  .showcase.active {
    right: 300px;
  }

  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #68aece;
    mix-blend-mode: overlay;
  }

.innerShowcase {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

  .innerShowcase .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-bottom: 5rem;
    margin-left: 0;
  }

.innerShowcase h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.innerShowcase h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.innerShowcase p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.innerShowcase a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  width: 7rem;
}

  .innerShowcase a:hover {
    background: black;
    color: white;
  }

.socials {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
  .socials li {
    list-style: none;
  }
    .socials li a {
      list-style: none;
      font-size: 1.5rem;
      transition: 0.33s;
    }
      .socials li a, .socials li a:visited {
        color: white;
      }
      .socials li a:hover {
        font-size: 1.85rem;
      }

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}

/* Top Sellers */
.topSellers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100vh;
  background-image: url("images/pexels-tim-photoman-9890047.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  .topSellers h1 {
    color: white;
    font-size: 4.5rem;
    margin: auto;
    margin-bottom: 3rem;
    margin-left: -25rem;
    transition: 1s;
  }
 .topSellers h2 {
    color: white;
    margin: auto;
    margin-left: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    transition: 1s;
  }
    .mudButton {
      margin: auto;
      margin-top: 3rem;
      margin-left: 1.2rem;
    }

    #psst2 {
      margin: auto;
      margin-left: -35rem;
      font-size: 2rem;
      margin-top: 0;
      transition: 0.88s;
    }

  #mud {
    color: rgb(0, 183, 255);
    animation-name: mudColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes mudColor {
    0% {
      color: rgb(0, 183, 255);
    }
    50% {
      color: white;
    }
    100% {
      color: rgb(0, 183, 255);
    }

  }

  .store {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/pexels-photo-2540634.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
    #storeTop {
      background-color: white;
      position: sticky;
      top: 0;
      width: 100%;
      height: 4em;
      margin: 0;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.432);
      border-right: 1px solid rgba(0, 0, 0, 0.432);
      border-left: 1px solid rgba(0, 0, 0, 0.432);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    #storeTop img {
      height: 3em;
      margin: auto;
    }
    
    #storeTop img:nth-child(3) {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    #storeBot {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: white;
      height: 3.9em;
      display: flex;
      border-left: 1px solid rgba(0, 0, 0, 0.432);
      border-right: 1px solid rgba(0, 0, 0, 0.432);
      border-top: 1px solid rgba(0, 0, 0, 0.432);
      transition: 0.6s;
    }
      #storeBot a {
        text-decoration: none;
        color: black;
      }

    #storeBot div {
      margin: auto;
      display: flex;
    }
      #storeBot div a {
        margin: auto;
        font-size: 2rem;
        margin-right: 1rem;
        color:rgb(0, 183, 255);
      }
      #storeBot p {
        margin: auto;
        margin-top: 0.8rem;
      }
  
    #privacyPolicy {
      text-decoration: none;
      color: black;
      margin: auto;
    }
    
    #storeMain {
      background-color: rgba(255, 255, 255, 0.925);
      width: 85%;
      margin: auto;
      padding-top: 2em;
      padding-bottom: 2em;
      border-right: 1px solid rgba(0, 0, 0, 0.432);
      border-left: 1px solid rgba(0, 0, 0, 0.432);
      display: flex;
    }

@media (max-width: 991px) {
  .showcase, .showcase header {
    padding: 40px;
  }
  .innerShowcase h2 {
    font-size: 3em;
  }
  .innerShowcase h3 {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .showcase, .showcase header {
    padding: 40px;
  }
  .innerShowcase h2 {
    font-size: 3em;
  }
  .innerShowcase h3 {
    font-size: 2em;
  }
}

@media (min-width: 700px) {
  .innerShowcase .logo {
    width: 65%;
  }
}

@media (max-width: 700px) {
  #psst1 {
    font-size: 3rem;
  }
  #psst2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  #storeMain {
    padding-bottom: 5rem;
  }
}