* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  --darkblueopacity: rgba(161, 222, 215, 0.7);
  --darkblue: rgb(161, 222, 215);
  --lightblue: rgb(213, 255, 248);
  --darksand: rgb(246, 230, 181);
  --lightsand: rgb(255, 244, 210);
}

body {
  background-image: url("https://images.pexels.com/photos/2540634/pexels-photo-2540634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  margin-top: 4em;
  margin-bottom: 5em;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--lightblue);
}

/* special */
.special {
  padding: 3em;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.432);
  border-left: 1px solid rgba(0, 0, 0, 0.432);
  height: 10em;
  overflow-y: scroll;
}

/* NAV */
nav {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4em;
  margin: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.432);
  border-right: 1px solid rgba(0, 0, 0, 0.432);
  border-left: 1px solid rgba(0, 0, 0, 0.432);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav img {
  height: 3em;
  margin: auto;
}

nav img:nth-child(3) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* SECTION A */
.a {
 background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/749358368149209088/crophe2.png");
 background-position: center;
 background-size: cover;
 height: 100vh;
 margin-top: -4em;
 display: flex;
 flex-direction: column;
} 

.a p {
  color: rgba(255, 255, 255, 0.678);
  margin: auto;
  margin-bottom: 0.3em;
  font-size: 0.7em;
}

.a a {
  color: white;
  text-decoration: underline;
}

.a img {
  width: 100%;
  position: absolute;
  margin-top: 4em;
  animation: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.a #shop-button {
  color: var(--lightblue);
  position: absolute;
  width: 5em;
  left: 50%;
  margin-left: -2.5em;
  bottom: 4.5em;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  background-color: var(--darksand);
  color: rgba(0, 0, 0, 0.623);
  padding: 10px;
  font-weight: bold;
  transition: 1s;
}

.a #shop-button:hover {
  background-color: var(--lightblue);
}

.shop-wrap {
  background-color: rgba(255, 255, 255, 0.925);
  width: 85%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  border-right: 1px solid rgba(0, 0, 0, 0.432);
  border-left: 1px solid rgba(0, 0, 0, 0.432);
  display: flex;
}

.shop-wrap h1 {
  margin: auto;
  width: fit-content;
  font-size: 4em;
}

#collection-component-1601418674534{
  margin-top: 2em;
  margin-bottom: 2em;
}

/* SHOP */
/* PRODUCTS */
.products {
  width: 95%;
  margin: 1.5em auto;
  margin-bottom: 0.4em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  padding: 0.5em;
}

.product {
  margin: 0;
  padding: 0;
  border: 2px solid var(--lightblue);
  background-color: var(--darkblueopacity);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.product h2 {
  font-size: 1.2em;
  margin: auto;
  padding-bottom: 5px;
  color: var(--lightsand);
  text-shadow: 1px 2px 2px rgb(82, 82, 82);
}

.product p {
  margin: auto;
  margin-bottom: 0.6em;
  margin-right: auto;
  color: white;
  text-shadow: 1px 2px 2px rgb(82, 82, 82);
}

.product img {
  width: 95%;
  border-radius: 10px;
  margin: 0.2em auto;
  border: 2px solid var(--lightblue);
  margin-bottom: 0.7em;
}

button {
  border-radius: 15px;
  height: 2em;
  width: 50%;
  margin: auto;
  font-size: 0.8em;
  margin-top: -0.3em;
  margin-bottom: 1em;
  text-decoration: none;
  border: 1px solid var(--darksand);
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: var(--darksand);
  color: white;
}

/* FOOTER */ 
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  height: 5em;
  display: flex;
  border-left: 1px solid rgba(0, 0, 0, 0.432);
  border-right: 1px solid rgba(0, 0, 0, 0.432);
  border-top: 1px solid rgba(0, 0, 0, 0.432);
  transition: 0.6s;
}

footer ul li:last-child i {
  color: var(--lightblue);
}

/* hover time */
footer:hover {
  height: 10em;
}

footer:hover ul {
  flex-direction: column;
  margin: auto;
}

footer:hover ul li {
  flex-direction: row;
  padding: 0;
}

footer:hover ul li i {
  width: 1.5em;
  text-align: center;
}

footer:hover ul li a {
  margin: auto;
  margin-left: 0.5em;
  width: 7em;
  content: 'hello';
}

footer:hover #third-i {
  margin-right: 0em; 
}

footer #emailtwo, footer #three {
  display: none;
}

footer:hover #emailtwo {
  display: inline;
}

footer:hover #email {
  display: none;
}




/* hover time */

footer a {
  color: rgb(133, 150, 145);
}

footer ul li:last-child{
  display: none;
}

footer:hover ul li:last-child {
  display: inline;
}

footer ul {
  margin: auto;
  display: flex;
}

footer i {
  color: var(--darksand);
  font-size: 1.8em;
  margin: auto;
  margin-bottom: 5px;
}

#third-i {
  margin-right: 0.95em;
}

#emailtwo i {
  color: rgb(133, 150, 145);
  font-size: 1.05em;
  animation: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    margin-left: 0;
  } 50% {
    margin-left: 0.5em;
  } 100% {
    margin-left: 0;
  }
}

footer ul li {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: auto;
  list-style: none;
  color: rgb(177, 204, 196);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(79, 92, 92, 0.384);
}

@media (min-width: 750px) {

  .shop-wrap {
    width: 70%;
  }

  .a {
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/749358368149209088/crophe2.png");
    background-size: cover;
    background-position-y: -8em;
  }

  .a img {
    width: 35%;
    left: 50%;
    margin-left: -17.5%;
    margin-top: 8em;
  }

  .a #shop-button {
    bottom: 8em;
    width: 8em;
    margin-left: -4em;
    height: 2.5em;
    display: flex;
  }

  .a #shop-button span {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }

  .product img {
    width: 98%;
   }
  
  nav img:nth-child(1) {
    margin-left: 1em;
  }

  nav img:last-child {
    margin-right: 1em;
  }

  .hero {
    margin-top: 3.3em;
    text-align: center;
    color: white;
    font: 400 70px/1.3 'Oleo Script', Helvetica, sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.623);
  }

}